@import "bootstrap";


.register_login{
  float: right;
}

.error{
  color: red;
}

.inline-log{
  display: inline-block;
}
.w1{
  width: 10%;
}
 .w2{
   width :15%;
 }
 .w3{
   width :30%;
 }

.table{
  width: 100%;
  table-layout: auto;
}
